<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statesml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="at.ac.tuwien.big.statesml.presentation.StatesMLModelWizardID"
            name="%_UI_StatesMLModelWizard_label"
            class="at.ac.tuwien.big.statesml.presentation.StatesMLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StatesMLModelFile.gif">
         <description>%_UI_StatesMLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statesml -->
      <editor
            id="at.ac.tuwien.big.statesml.presentation.StatesMLEditorID"
            name="%_UI_StatesMLEditor_label"
            icon="icons/full/obj16/StatesMLModelFile.gif"
            extensions="statesml"
            class="at.ac.tuwien.big.statesml.presentation.StatesMLEditor"
            contributorClass="at.ac.tuwien.big.statesml.presentation.StatesMLActionBarContributor">
      </editor>
   </extension>

</plugin>
